<ul class="list-disc list-inside">
  <% @memos.each do |key, value| %>
    <li><a href=<%= "/memos/#{value[:public_id]}" %>><%= value[:title] %></a></li>
  <% end %>
</ul>
<a href="/memos/new">追加</a>
